---
import Meta from '../layouts/Meta.astro';
import Order from '../components/Order';
import Heading from '../components/Heading.astro';
import Intersection from '../components/Intersection.astro';
import Wrapper from '../components/Wrapper.astro';
import About from '../components/About.astro';
import Team from '../components/Team.astro';
import Intro from '../components/Intro';
import Footer from '../components/Footer.astro';
---

<Meta title="Olives for Jules">
	<main class="grid place-items-center">
		<Intro client:load />
		<Wrapper color="primary">
			<Heading />
		</Wrapper>
		<Wrapper color="primary">
			<Order client:visible />
		</Wrapper>
		<Intersection />
		<Wrapper color="secondary">
			<About />
		</Wrapper>
		<Wrapper color="secondary">
			<Team />
		</Wrapper>
		<Wrapper color="tertiary">
			<Footer />
		</Wrapper>
	</main>
</Meta>
