---
import Meta from '../layouts/Meta.astro';
import Order from '../components/Order';
import Heading from '../components/Heading.astro';
import Intersection from '../components/Intersection.astro';
import About from '../components/About.astro';
import Team from '../components/Team';
---

<Meta title="Olives for Jules">
	<main class="grid place-items-center">
		<section class="bg-[#fad3ff] w-full">
			<Heading />
		</section>
		<section class="bg-[#fad3ff] w-full">
			<Order client:visible />
		</section>
		<Intersection />
		<section class="bg-[#fffdeb] w-full">
			<About />
		</section>
		<section class="bg-[#fffdeb] w-full">
			<Team />
		</section>
	</main>
</Meta>
