<div class="my-4 p-4 flex flex-col justify-start gap-4 mx-auto max-w-screen-lg">
	<h1 class="text-4xl font-bold mb-4">Worum geht's?</h1>
	<p>
		Die Gesichter hinter dem kleinen Projekt – Rio, Chris und Franz. Mit
		Leidenschaft und Liebe zum Detail wollen wir Freude in aller Leben bringen.
		Lasst euch verzaubern, erlebt das Besondere und stoßt mit uns auf Jules an.
		<br /><br />
		Disclaimer (vor allem für Jules): Diese Webseite ist nur ein Platzhalter. Du
		kannst damit machen, was du möchtest. Es ist deine Domäne.
	</p>
</div>
