<div class="my-4 p-4 flex flex-col justify-start gap-4 mx-auto max-w-screen-lg">
	<h1 class="text-4xl font-bold mb-4">Worum geht's?</h1>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut voluptatum
		expedita hic quisquam consequatur ipsum, nulla, eius culpa harum nesciunt
		modi molestiae suscipit ullam? In laudantium quibusdam quis repellat error
		velit corrupti sed et debitis illum tenetur eligendi eos fugit ipsum
		recusandae nostrum, facere magni modi aliquam dignissimos aperiam rem.
		Excepturi, sunt aliquid quasi blanditiis quia totam velit laborum eveniet!
		Exercitationem unde in facilis debitis error placeat animi officiis
		voluptatem quis rerum? Delectus architecto veniam quae unde. Et, veritatis
		nesciunt odit totam maxime ipsum deserunt facilis. Quaerat reiciendis
		inventore tempore exercitationem quos aliquid repudiandae, laboriosam vel
		aliquam. Repellendus odio quae ad facilis magnam blanditiis delectus, ipsa
		aliquam eveniet cum repudiandae excepturi porro error veniam quia,
		doloremque, qui non alias nesciunt quo nisi consequuntur nulla. Voluptate
		dolor dolorum sunt eaque! Quia sunt eveniet ullam accusantium quas velit
		provident quos deserunt, odit quod voluptatum, unde dolore culpa labore
		possimus. Velit, cupiditate quam!
	</p>
</div>
