---
import Team from '../components/Team.astro';
---

<div class="my-52 flex flex-col justify-start gap-4 mx-auto max-w-screen-lg">
	<h1
		id="heading"
		class="text-4xl sm:text-5xl font-bold mb-4 -translate-x-full transition-all"
	>
		Worum geht's?
	</h1>
	<p class="text-ofj opacity-0 transition-all delay-300">
		Die Gesichter hinter dem kleinen Projekt – Rio, Chris und Franz. Mit
		Leidenschaft und Liebe zum Detail wollen wir Freude in aller Leben bringen.
		Lasst euch verzaubern, erlebt das Besondere und stoßt mit uns auf Jules an.
	</p>
	<Team />
	<p class="text-ofj opacity-0 transition-all delay-200">
		Disclaimer (vor allem für Jules): Diese Webseite ist nur ein Platzhalter. Du
		kannst damit machen, was du möchtest. Es ist deine Domäne.
	</p>
</div>
<script>
	const obs1 = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add('translate-x-0', 'duration-1000');
			}
		});
	});
	const obs2 = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add('opacity-100');
			}
		});
	});
	const h1 = document.getElementById('heading') as HTMLElement;
	const paragraphs = document.querySelectorAll('.transition-all');
	obs1.observe(h1);
	paragraphs.forEach((p) => obs2.observe(p));
</script>
