---
import logo from '../assets/olivesforjules_brand.svg';
---

<div class="my-4 p-4 flex flex-col justify-start gap-4 mx-auto max-w-screen-lg">
	<img src={logo} alt="logo" />
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam laudantium
		voluptatum cumque ad fugit vel consequuntur, necessitatibus sed commodi
		saepe veritatis tempora assumenda et iusto. Dolor suscipit magnam explicabo
		veritatis itaque voluptate consectetur molestias modi commodi, sed adipisci
		reprehenderit dicta!
	</p>
</div>
