---
import logo from '../assets/olivesforjules_brand.svg';
---

<div class="my-4 p-4 flex flex-col justify-start gap-4 mx-auto max-w-screen-lg">
	<img
		id="brand"
		class="sm:max-w-md md:max-w-lg -translate-x-full transition-all"
		src={logo}
		alt="logo"
	/>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi saepe
		molestias, assumenda autem beatae, quas expedita vel, veritatis iste harum
		est eveniet corrupti sit. Earum necessitatibus dolorem maxime corporis quo
		labore quasi dignissimos esse quas, molestias reiciendis placeat error
		architecto voluptatibus corrupti dolor quidem ex molestiae odio dolorum.
		Beatae, exercitationem dolorem ea libero sit cumque? Expedita blanditiis quo
		dolorem voluptate at quaerat eligendi, voluptates tempore aliquam rem cum
		error possimus ipsa. Incidunt inventore deleniti deserunt quod accusantium,
		similique voluptates quos illo quidem sit, vero eligendi error in placeat,
		reiciendis voluptate laborum sequi beatae? Cupiditate quas aperiam porro
		repudiandae incidunt sapiente!
	</p>
</div>
<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add('translate-x-0', 'duration-1000');
			}
		});
	});
	const brandEl = document.getElementById('brand') as HTMLElement;
	observer.observe(brandEl);
</script>
