---
import logo from '../assets/olivesforjules_brand.svg';
---

<div class="my-4 flex flex-col justify-start gap-4 mx-auto max-w-screen-lg">
	<img
		id="brand"
		class="sm:max-w-md md:max-w-lg -translate-x-full transition-all"
		src={logo}
		alt="logo"
	/>
	<p id="paragraph" class="opacity-0 transition-all delay-200">
		Ein kleines Projekt für eine ziemlich besondere Frau, die das Leben von
		vielen Menschen bereichert und schöner macht. Entstanden ist die Idee an
		einem schönen sonnigen Tag im Spätsommer 2022. Vier Freunde saßen in einem
		israelischen Restaurant und hatten einen richtig tollen Abend mit gutem
		Essen und formidablen Wein. Jules hatte allerdings nicht so großen Hunger
		und hatte sich deshalb nur Oliven bestellt. Daraufhin fiel dann der Spruch:
		Olives for Jules.
		<br /><br />
		Der Spruch ist uns, aber vor allem Jules, irgendwie im Gedächtnis geblieben.
		Hat auch irgendwie etwas – zumindest unserer Meinung nach. Aus diesem Grund haben
		wir ein nachhaltiges T-Shirt mit einem tollen Slogan entworfen. Mit olivesforjules
		wollen wir Menschen zusammen bringen und zeigen, wie schön das Leben sein kann.
		Vor allem, wenn der Vibe von Jules dabei ist.
	</p>
</div>
<script>
	const obs1 = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add('translate-x-0', 'duration-1000');
			}
		});
	});
	const obs2 = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add('opacity-100', 'duration-1000');
			}
		});
	});
	const brandEl = document.getElementById('brand') as HTMLElement;
	const pEl = document.getElementById('paragraph') as HTMLElement;
	obs1.observe(brandEl);
	obs2.observe(pEl);
</script>
