---
import logo from '../assets/olivesforjules_brand.svg';
---

<div
	class="mt-28 mb-12 flex flex-col justify-start gap-4 sm:gap-8 mx-auto max-w-screen-lg"
>
	<img
		id="brand"
		class="sm:max-w-md md:max-w-lg mb-8 self-center opacity-0 -translate-x-full transition-all"
		src={logo}
		alt="logo"
	/>
	<p class="opacity-0 transition-all delay-200 text-ofj_s sm:text-ofj_l">
		Ein kleines Projekt für eine ziemlich besondere Frau, die das Leben von
		vielen Menschen bereichert und schöner macht. Entstanden ist die Idee an
		einem schönen sonnigen Tag im Spätsommer 2022. Vier Freunde saßen in einem
		israelischen Restaurant und hatten einen richtig tollen Abend mit gutem
		Essen und formidablen Wein. Jules hatte allerdings nicht so großen Hunger
		und hatte sich deshalb nur Oliven bestellt. Daraufhin fiel dann der Spruch:
		Olives for Jules.
		<br /><br />
	</p>
	<p class="opacity-0 transition-all delay-200 text-ofj_s sm:text-ofj_l">
		Der Spruch ist uns, aber vor allem Jules, irgendwie im Gedächtnis geblieben.
		Hat auch irgendwie etwas – zumindest unserer Meinung nach. Aus diesem Grund
		haben wir ein nachhaltiges T-Shirt mit einem tollen Slogan entworfen. Mit
		olivesforjules wollen wir Menschen zusammen bringen und zeigen, wie schön
		das Leben sein kann. Und wenn das Leben dir Oliven gibt, dann geniesse
		einfach den Moment!
	</p>
</div>
<script>
	const obs1 = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add(
					'opacity-100',
					'translate-x-0',
					'duration-1000'
				);
			}
		});
	});
	const obs2 = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add('opacity-100', 'duration-1000');
			}
		});
	});
	const brandEl = document.getElementById('brand') as HTMLElement;
	const paragraphs = document.querySelectorAll('.transition-all');
	obs1.observe(brandEl);
	paragraphs.forEach((p) => obs2.observe(p));
</script>
