---
export interface Props {
	name: string;
	src: string;
}

const { name, src } = Astro.props;
---

<span
	class="w-full aspect-square relative flex justify-center border rounded-full overflow-hidden"
>
	<span
		class="w-full h-full opacity-0 hover:opacity-100 hover:bg-black/[0.6] grid place-items-center absolute z-10 transition-opacity"
	>
		<p class="text-white font-bold text-lg">{name}</p>
	</span>
	<img src={src} class="absolute z-0" />
</span>
